.mainContent {
    font-size: 3rem;
    background-color: #cfa162;
    color: black;
    padding: 15px 0;
    opacity: 70%;
}

.kim {

}

.claire{
    padding-bottom: 200px;
}

img{
    width: 50%;
}
