
.Title {
    font-size: 3rem;
    background-color: #eacbf7;
    color: black;
    padding: 15px 0;
    opacity: 70%;
}

.Entry {
    color: black;
    text-align: left;
    width: 75%;
    padding-left: 50px;
    min-height:1500px;
    padding-top: 30px;
}

.Entry h2{
    font-size: 54px;
}

.Entry2{
    padding-bottom: 50px;
}
.Entry1{
    padding-bottom: 50px;
}

.entry_months{
    display: block;
    padding-top: 30px;

}

.entry_months a {
    font-size: 24px;
    color: black;
}

.entry_months a:hover{
    color: #Aa5d7b;
}

.entry_months a+a {
  margin-left: 50px;
}
