
.Title {
    font-size: 3rem;
    background-color: #eacbf7;
    color: black;
    padding: 15px 0;
    opacity: 70%;
}

.Entry {
    color: black;
    text-align: left;
    width: 75%;
    padding-left: 50px;
    min-height:1500px;
}

.Entry2{
    padding-bottom: 50px;
}
.Entry1{
    padding-bottom: 50px;
}
