.header h1{
    color: white;
}

.header {
    font-size: 3rem;
    background-color: green;
    color: black;
    padding: 15px 0;
    opacity: 70%;
}

img{
    width: 50%;
    height: auto;
}

.countries{
    padding-bottom: 150px;
}

.countries p{
    padding: 30px 15px;
    line-height: 2rem;
}

.level{

}
