.header h1{
    color: white;
}

.header {
    font-size: 3rem;
    background-color: green;
    color: black;
    padding: 15px 0;
    opacity: 70%;
}

img{
    width: 50%;
    height: 50%;
}

.countries{
    padding-bottom: 150px;
}

.countries p{
    padding: 20px 150px;
}
