html, body {
  margin: 0;
  padding: 0;
}

.flex-container{
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #FF5733;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#58B4F0;
    opacity: 70%;
}

nav {
list-style:none;
text-transform: uppercase;
display: flex;

}

nav a{
    text-decoration: none;
    letter-spacing: .45rem;
    display:block;
    padding: 0.5em;
    color:white;
}

nav a:hover{
    background:  #00ace6;
}
/* FOOTER */
.foot-container{
    background-color: #58B4F0;
    display: flex;
    justify-content: flex-end;
    position:relative;
}
footer {
    list-style: none;
    display: flex;
    justify-content:space-between;
    opacity: 70%;
    width: 100%;
    color: white;
}


footer a {
    color: white;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
}

@media all and (max-width:990px){
    .flex-container{
        flex-direction: column;
    }
    nav  {
    width: 100%;
    justify-content: space-between;
  }
}

@media all and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  nav li:last-of-type a {
    border-bottom: none;
  }
}

main {
  text-align: center;
  position: relative;
  top: 65px;

}

.BackgroundPic h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 150px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.BackgroundPic p {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.BackgroundPic h2 {
  color: white;
  border-color: black;
  border-width: thick;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin-top: 0px;
  padding-top: 130px;
  margin-bottom: 30px;
}
.container{
    max-width: 940px;
    margin: 0 auto;
    padding 0 10px;
    text-align: center;
}

.BackgroundPic {
    min-height: 1000px;
    background-image: url("https://www.muchbetteradventures.com/magazine/content/images/size/w2000/2021/07/Torres-del-Paine.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: repeat-y;

}

.BackgroundPic img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 10px solid transparent;
    padding: 1px;
    padding-bottom: 130px;
}

.overview{
    background-color: #Aa5d7b;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.extra{
    display: flex;
    justify-content: space-between;
    background-color: #cfa162;
    align-items: center;
    color: white;
    width: 100%;
    font-size: 30px;
    margin: 0px auto;
    min-height: 500px;
}
.extra img{
    width: 50%;
    horizontal-align: right;
}

.extra p{
    text-align: center;
}

.extra2{
    display: flex;
    justify-content: space-between;
    background-color: #475266;
    align-items: center;
    color: white;
    width: 100%;
    font-size: 30px;
    padding-bottom: 100px;
    padding-top: 25px;

}
.extra2 img{
    width: 50%;
    vertical-align: left;
}

.extra2 p{
    text-align: center;
}
