.mainContent {
    font-size: 3rem;
    background-color: #Aa5d7b;
    color: white;
    padding: 15px 0;
}

.about {
    color: black;
    background-color: white;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    height: 1800px;
}


.about img{
    width: 25%;
    align-items: center;
}
