.mainContent {
    font-size: 3rem;
    background-color: #Aa5d7b;
    color: white;
    padding: 15px 0;
}

.about {
    color: white;
    background-color: black;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    height: 1800px;
}

.about p{
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 95px;
}
